.body--site {
    font-family: 'Caveat', cursive;
    background-color: #15b9a130;
}

section.section-banner {
    padding: 0;
    position: relative;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.gift-img {
    position: relative;
    top: -2px;
}

.qwe {
    height: 200px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}

.qwe img {
    max-height: 100%;
    width: auto;
}

@media (min-width: 992px) {
    .qwe img {
        margin-top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 768px) {
    .modal.show .modal-dialog {
        max-width: 70%;
    }
}

.selected-wish-modal {
    font-size: 24px;
    align-items: center;
}

.selected-wish-modal .img-wish {
    margin: 20px auto;
    max-height: 200px;
    display: block;
}


@media (max-width: 768px) {
    .selected-wish-modal .img-wish {
        display: none;
    }

    .selected-wish-modal .img-wish {
        max-height: 300px;
    }
}

.selected-wish-btn a {
    color: white;

}

.card-title {
    white-space: nowrap;
}

section.section-banner .banner-content {
    position: relative;
}

.image_wrapper {
    overflow: hidden;
}

section.section-banner .banner-content .banner-image:after {
    content: '';
    background: rgba(0, 0, 0, .37);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

section.section-banner .banner-content .banner-slogan {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    font-size: 20px;
    width: 40%;
    color: white;
}


section.section-banner .banner-content .banner-image {
    height: calc(100vh - 70px);
    background: url(images/20201104_161242.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@media (max-width: 992px) {
    section.section-banner .banner-content .banner-image {
        height: calc(100vh - 70px);
        background: url(images/20210512_141819.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
}

section.section-banner .banner-content .banner-image video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 70px);
    min-height: 100%;
}

.socials .sidebar-socials img {
    width: 40px;
}

.socials.fixed.show {
    opacity: 1;
    visibility: visible;
}

.socials.fixed {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    z-index: 999;
    background: #1d1d1d;
    padding: 11px 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    bottom: inherit;
    right: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.socials.fixed .sidebar-socials {
    margin-bottom: 15px;
}

.socials:not(.fixed) {
    position: fixed;
    right: 0;
    background-color: #374d6b;
    padding: 20px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    height: 70px;
}


div.list-group-item {
    width: 50%;
    border: 0;
    padding: 10px;
}

.modal-body .list-group {
    flex-direction: row;
    flex-wrap: wrap;
}

.socials.right {
    right: auto;
    left: 0;
    color: white;
}

.brthd {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin-right: 82px;
    font-weight: 900;
    margin-top: 50px;

}

.text-inner {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.text-inner span {
    font-size: 170px;
    color: #a4e3ff;
}

.brthd img {
    display: block;
    max-width: 250px;
    margin: 0 auto;
}

.card-body {
    position: relative;
}

.card-body .product-link {
    display: none;
}

.card-body:hover .product-link {
    display: flex;
}

.product-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .57);
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-link:hover {
    color: white;
}

@media (max-width: 992px) {
    .brthd {
        margin-right: 0;
        bottom: 100px;
        right: 20px;
        top: auto;
    }
}

@media (max-width: 768px) {
    .brthd {
        font-size: 24px;
    }

    .brthd img {
        max-width: 100px;
    }

    .text-inner {
        font-size: 20px;
    }

    .text-inner span {
        font-size: 70px;
    }

    section.section-banner .banner-content .banner-slogan {
        font-size: 20px;
        top: 20px;
        transform: none;
    }

    .card-img-top {
        max-height: 200px;
    }
}

section.section.schedule {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    background-color: #15b9a130;
}

.section {
    padding: 40px 0;
    background-color: white;
}

.section.wishes {
    padding-bottom: 100px;
}

.section__title {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 40px;
}

.wishes_descr {
    font-size: 24px;
}

.badge {
    position: absolute;
    right: 20px;
    top: 20px;
}

.booked {
    opacity: .5;
}

.quizz-answers {
}

.quizz-answers-item {
    width: 25%;
    border-radius: 0 !important;
}

@media (min-width: 992px) {
    .schedule {
        padding: 30px 0
    }
}

.schedule__note {
    margin: 0;
    margin-bottom: 15px;
    padding: 0 5px;
    text-align: center;
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    color: #46a299
}

@media (min-width: 992px) {
    .schedule__note {
        padding-top: 12px
    }
}

.schedule .toggle_button {
    top: 0;
    bottom: auto
}

.schedule_block {
    position: relative;
    margin-bottom: 0
}

@media (min-width: 768px) {
    .schedule_block {
        padding-bottom: 20px
    }

    .schedule_block:before {
        width: 2px;
        height: 100%;
        background-color: #15b9a1
    }

    .schedule_block:before, .schedule_block:first-child:after {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .schedule_block:first-child:after {
        top: 0;
        width: 12px;
        height: 12px;
        background-color: #15b9a1;
        border-radius: 50%
    }

    .schedule_block:last-child:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background-image: url(../../../b196d93d95c157b0a33c226a227303cd.svg);
        background-repeat: no-repeat
    }
}

.schedule_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 20px
}

@media (min-width: 768px) {
    .schedule_item {
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .schedule_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.schedule_item__map {
    position: relative;
    width: 100%;
    height: 220px;
    margin-top: 20px
}

@media (min-width: 1200px) {
    .schedule_item__map {
        height: 340px;
        margin-top: 0;
        z-index: 1
    }

    .schedule_item__map ~ .schedule_item__wrap {
        § min-width: 70%
    }
}

.schedule_item__map .map {
    width: 100%;
    height: 100%;
    border: 0
}

.schedule_item__map .button {
    position: absolute;
    top: 60px;
    left: 10px;
    text-align: center
}

.schedule_item__map .button + .button {
    top: 10px
}

@media (min-width: 768px) {
    .schedule_item__map .button {
        padding-left: 15px;
        padding-right: 15px
    }
}

.schedule_item__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2
}

@media (min-width: 1200px) {
    .schedule_item__wrap {
        width: 70%
    }
}

.schedule_item__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90px;
    min-width: 90px;
    height: 90px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #15b9a1;
    border-radius: 50%;
    border: 10px solid #fff;
    -webkit-box-shadow: 0 0 0 1px #15b9a1;
    box-shadow: 0 0 0 1px #15b9a1
}


.schedule_item__time img {
    max-width: 80%;
}

@media (min-width: 992px) {
    .schedule_item__time {
        width: 120px;
        height: 120px;
        font-size: 30px
    }
}

@media (min-width: 1200px) {
    .schedule_item__time {
        width: 150px;
        height: 150px;
        font-size: 40px
    }
}

.schedule_item__content {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: calc(100% - 170px)
}

.schedule_item__title {
    margin: 0 0 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    border-bottom: 1px solid #15b9a1;
    word-wrap: break-word
}

@media (max-width: 992px) {
    .schedule_item__title {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .schedule_item__title {
        margin-bottom: 20px;
        padding-bottom: 30px;
        font-size: 24px;
        line-height: 30px
    }
}

@media (min-width: 1200px) {
    .schedule_item__title {
        font-size: 26px
    }
}

.schedule_item__text {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    word-wrap: break-word;
    text-align: left;
}

@media (max-width: 992px) {
    .schedule_item__text {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .schedule_item__text {
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    .schedule_item--left .schedule_item__map {
        left: 0;
        margin-right: -80px
    }

    .schedule_item--left .schedule_item__map ~ .schedule_item__wrap {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    .schedule_item--left .schedule_item__wrap {
        margin-left: auto
    }
}

.schedule_item--left .schedule_item__time_wrap {
    padding-right: 10px
}

@media (min-width: 992px) {
    .schedule_item--left .schedule_item__time_wrap {
        padding-right: 20px
    }
}

.schedule_item--left .schedule_item__time {
    margin-left: auto
}

@media (min-width: 768px) {
    .schedule_item--right {
        margin-top: 80px
    }
}

@media (min-width: 1200px) {
    .schedule_item--right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-top: 130px
    }
}

@media (min-width: 1200px) {
    .schedule_item--right .schedule_item__map {
        right: 0;
        margin-left: -80px
    }

    .schedule_item--right .schedule_item__map ~ .schedule_item__wrap {
        margin-right: 0
    }
}

.schedule_item--right .schedule_item__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

@media (min-width: 1200px) {
    .schedule_item--right .schedule_item__wrap {
        margin-right: auto
    }
}

.schedule_item--right .schedule_item__time_wrap {
    padding-left: 10px
}

@media (min-width: 992px) {
    .schedule_item--right .schedule_item__time_wrap {
        padding-left: 20px
    }
}

.schedule_item--right .button {
    left: auto;
    right: 10px
}

img {
    max-width: 100%;
}
